# Ignore everything at root level
/*

# Track only these
!/.godot/
!/addons/
!/assets/
!/resources/
!/scenes/
!/scripts/
!/icon.svg
!/default_bus_layout.tres
!/export_presets.cfg
!/README.md
!/.gitignore
